animations {
    // Uncomment to turn off all animations.
    // You can also put "off" into each individual animation to disable it.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    // Individual animations.

    workspace-switch {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    window-open {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    window-close {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 600
    }

    horizontal-view-movement {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    window-movement {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    window-resize {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    config-notification-open-close {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    exit-confirmation-open-close {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    screenshot-ui-open {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    overview-open-close {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }

    recent-windows-close {
        curve "cubic-bezier" 0.05 0.9 0.1 1.05
        duration-ms 400
    }
}
